<div class="card mt-3 mb-5">
  <div class="d-flex justify-content-between align-items-center card-header">

    <div>
      <h1>Editing Movie</h1>
    </div>

    <div>
      <%= link_to 'Show', @movie, class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Back', movies_path, class: 'btn btn-secondary btn-sm' %>
    </div>
  </div>

  <%= render 'form', movie: @movie %>

</div>