<div class="card mt-3">
  <div class="card-header">
    <div class="card_title">Movies manager app</div>
  </div>
  <div class="card-body">
    <p class="text-muted">Welcome</p>
    <p class="text-muted">Here you can manage your movies and tv series: make your own waiting lists, update watched episodes, etc.</p>
    <%#= image_tag "/assets/img/movie-image-general.jpg", class: "img-fluid img-responsive" %>
    <%#= image_tag "/assets/img/movie-image-general.jpg", width: "100%",  height: "200", style: "" %>
    <%= image_tag "/assets/img/movie-image-general.jpg", style: "width: 100%; height: 200px; object-fit: cover;" %>
  </div>
</div>
