<div class="card-body border">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <%= link_to mymovie.movie.title, mymovie, class: 'font-weight-bold' %>
    </div>
    <div>
      <a href="#"
         class="btn btn-dark btn-sm"
         data-reflex="click->MymovieStatusReflex#restart_watching"
         data-mymovie-id="<%= mymovie.id %>"
      >Try again</a>
    </div>
  </div>
</div>