<div class="card-body border">
  <div class="">
    <div class="d-flex">
      <%= link_to mymovie.movie.title, mymovie, class: 'font-weight-bold' %>
    </div>
    <div class="d-flex mb-1">
      <div class="border px-2 mr-1 rounded bg-light">
        Ranking: <%= mymovie.ranking %>
      </div>
    </div>
    <div class="d-flex justify-content-end">
        <a href="#"
           class="btn btn-dark btn-sm"
           data-reflex="click->MymovieStatusReflex#start_watching"
           data-mymovie-id="<%= mymovie.id %>"
        >Watch again</a>
    </div>

  </div>
</div>