<div class="card-body border">
  <div class="">
    <div class="d-flex">
      <%= link_to mymovie.movie.title, mymovie, class: 'font-weight-bold' %>
    </div>
    <div class="d-flex mb-1 ">
      <% if mymovie.movie.movie_type == 2 %>
        <div class="border px-2 mr-1 rounded bg-light">
          <%= 'Dropped after: Seas. ' + mymovie.watching_season.to_s + ' ep. ' + mymovie.last_episode.to_s %>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-end">
      <a href="#"
         class="btn btn-dark btn-sm"
         data-reflex="click->MymovieStatusReflex#restart_watching"
         data-mymovie-id="<%= mymovie.id %>"
      >Try again</a>
    </div>
  </div>
</div>