<div id="mymovies-new-page" class="card mt-3 mb-5">
  <div class="d-flex justify-content-between align-items-center card-header">

    <div>
      <h1>New Mymovie</h1>
    </div>

    <div>
      <%= link_to 'Back', mymovies_path, class: 'btn btn-secondary btn-sm' %>
    </div>
  </div>

  <%= render 'form', mymovie: @mymovie %>
</div>
