// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// FORMS ERRORS //
#error_explanation {
  padding: 20px;
  border: 2px solid crimson;
  color: crimson;
  font-weight: bold;
  h2 {
    font-size: 18px;
  }
  li {
    font-size: 14px;
  }
}