// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  //border: 1px solid black;
}

// FORM PAGES //
#movies-form-page, #mymovies-form-page {
  .transition-group {
    transition: all 0.3s;
    * {
      transition: max-height 0.3s linear;
    }
  }

  .input-wrapper-closed {
    max-height: 0;
    margin: 0 !important;
    * {
      visibility: hidden;
      max-height: 0;
    }
  }

  .input-wrapper-open {
    max-height: 500px;
    * {
      visibility: visible;
      max-height: 500px;
    }
  }

  .pointer-element {
    cursor: pointer;
  }
}
// END FORM PAGES //


// INDEX PAGE//
#movies-index-page {
  .movie-button {
    line-height: 1.5;
    font-size: .87rem;
  }

  .border-button {
    border: 8px solid darkslategray;
  }
}
// END INDEX PAGE //
