// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.transition-group {
  transition: all 0.5s;
  * {
    transition: max-height 0.4s, visibility ease-out 0.2s;
  }
}

.input-wrapper-closed {
  max-height: 0;
  margin: 0 !important;
  * {
    visibility: hidden;
    max-height: 0;
  }
}

.input-wrapper-open {
  max-height: 100px;
  * {
    visibility: visible;
    max-height: 100px;
  }
}