// Place all the styles related to the Mymovies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  //border: 1px solid black;
}

.my-movies-card-header {
  background: #c6d880;
}

.my-movies-card-body {
  background: #eaf7b7;
}

.during-mymovies {
  margin-bottom: 5px;
  border: 3px solid green;
  &:last-child {
    margin-bottom: 0;
  }
}

.info-data {
  font-size: 12px;
}